title myApp
meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
meta(name="description", content="")
meta(name="keywords", content="")
link(rel="icon", type="image/x-icon", href="favicon.ico")

include libraries

link(rel='stylesheet', href='style.css')
script(type='text/javascript', src='script.js')