@font-face {
    font-family: 'punkboy'; /*a name to be used later*/
    src: url('common/punkboy_tbs.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'qarmic'; /*a name to be used later*/
    src: url('common/Qarmic_sans_Abridged.ttf'); /*URL to font*/
}

body{
	background-color: #3aabd1;
	font-family: qarmic;
}