#app{
	text-align: center;

	div.button{
		//text-align: left;
	}
	.Excel{
		display: inline-block;
		width: 500px;
		tr{
			th{
				background-color: #FAFAFA;
				width: 80px;
				text-align: center;
				cursor: pointer;
			}
			th, td{
				// padding: 5px;
				width: 100px;
				height: 27px;
				border: 1px solid white;
			}
			td{
				input{
					width: 98px;
				}
			}
		}
	}

	.Button{
		background-color: #211b12;
		border-radius: 28px;
		border: 0;
		box-shadow: 0px 1px 1px #d9d9d9;
		color: #fff;
		cursor: pointer;
		display: inline-block;
		font-size: 18px;
		font-weight: bold;
		padding: 5px 15px;
		text-decoration: none;
		transition-duration: 0.1s;
		transition-property: transform;
		outline: none;
	}

	.Button:hover{
		transform: scale(1.1);
	}
}