#app{
	text-align: center;

	table.excel{
		display: inline-block;
		width: 500px;
		th{
			background-color: #FAFAFA;
			width: 80px;
			text-align: center;
			cursor: pointer;
		}
		th, td{
			// padding: 5px;
			border: 1px solid white;
		}
		td{
			input{
				width: 100%;
			}
		}
	}
}